.search-form

	text-align right

	&__text
		padding 0 16px
		width 102px
		height 15px
		font inherit
		color #a4a4a4
		border 1px solid #373737
		background #272727

		&:focus
			border-color #37f
			outline 0

	&__btn
		margin-left 20px
